.app-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.container h3 {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.actions {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.actions input {
  flex: 1;
}