.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: rgba(0, 0, 0, .5);
}

.modal-content {
    width: 400px;
    background: white;
    padding: 10px 20px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}